.listItem .listItemRight > h3 {
  font-size: 14px;
  font-weight: 500; }

.drawerList {
  width: 400px;
  max-width: 95vw; }

.drawerDetails {
  padding: 10px 20px; }

.table {
  min-width: 700px; }

.currency {
  font-weight: 300;
  margin-left: 10px; }

.amount {
  font-weight: 500;
  color: #525f7f !important; }

.cell {
  text-transform: uppercase;
  color: #101010 !important; }

.headRow {
  background-color: #f6f9fc;
  height: 44px !important; }

.tableRoot {
  width: 100%;
  overflow-x: auto; }

.gridElement {
  max-width: 100%; }

.tableWrapper {
  flex: 1; }

.toolbarTitle {
  flex: 0 0 auto; }

.toolbarActions {
  color: #2196f3; }

.toolbarSpacer {
  flex: 1 1 100%; }

.toolbarRoot {
  padding-right: 10px;
  flex: 1; }

.toolbarHighlight {
  color: #e10050;
  background-color: #fbe0ea; }

.toolbarTitleText {
  font-size: 1.3125em !important;
  font-weight: bold; }

.tableTransactionTitle {
  font-size: 16px;
  font-weight: 400;
  display: block;
  color: #525f7f;
  line-height: 25px; }

.tableTransactionAccount {
  font-size: 14px;
  line-height: 25px; }
