.searchInput {
    padding: 15px!important;
    &:before {
        background-color: rgba(0, 0, 0, 0.2)!important;
    }
};

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 30px auto 30px;
    border-radius: 3px;
};

.uploadButton {
    margin-top: 25px;
    border: 1px solid #2196f3;
};

.uploadButtonIcon {
  margin-right: 10px;
};

.hiddenInput {
    display: none;
};

.modal {
    &>div {
        overflow: visible;
    }
};

.listItem .listItemRight > h3 {
    font-size: 14px;
    font-weight: 500;
};

.drawerList {
    width: 400px;
    max-width: 95vw;
};

.drawerDetails {
    padding: 10px 20px;
};
