.container {
	max-width: 800px;
	margin: 30px auto;
	vertical-align: middle;

	@media (max-width: 800px) {
		max-width: 500px;
	}

	@media (max-width: 500px) {
		margin: 0;
		border-radius: 0;
		height: 100vh;
	}
}

.header {
	width: 100%;
	font-weight: 400!important;
	font-size: 24px!important;
	padding: 22px 18px 5px;
}

.subheader {
  text-transform: uppercase;
  color: #007eff !important;
  font-size: 13px !important;
  margin-top: 15px;
  line-height: 20px !important;
}

.form {
	display: block;
	width: 100%;
}