.root {
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	width: 100%;
	margin: 30px auto;
	vertical-align: middle;
	border-radius: 8px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
}

.header {
	width: 100%;
	font-weight: 400!important;
	font-size: 24px!important;
	padding: 22px 18px 5px;
}

.subheader {
  text-transform: uppercase;
  color: #007eff !important;
  font-size: 13px !important;
  margin-top: 15px;
  line-height: 20px !important;
}

.form {
	display: block;
	width: 100%;
}

.textField {
	width: 100%;
}